[Desktop Entry]
Name=OpenTube
Comment=YouTube Music client
Exec=opentube
Icon=opentube
Type=Application
Categories=Audio;Music;Player;Network;
StartupNotify=true
